<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        {% load staticfiles %}
        <link href="{% static 'timeismoney/css/bootstrapNetwork.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'timeismoney/css/baseNetwork.css' %}" rel="stylesheet" type="text/css">
        {% block static-files %}
        {% endblock %}
        <title> {% block title %} Welcome to TimeIsMoney {% endblock %}</title>
    </head>

    <body>
        <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
        <div class="navbar-header">
          <a href="{% url 'home' %}" class="navbar-brand">TimeIsMoney</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="{% url 'createMeeting' %}">Create Meeting</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </div>
        </div>
        </div>
        {% block error-checks %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </body>
</html>
